{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }],
    "semi": [2, "always"],
    "import/extensions": [0, {
      "tsx": "never",
      "ts": "never"
    }]
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "prettier",
    "prettier/react"
  ]
}
