html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fafafa;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

// @media (prefers-color-scheme: dark) {
//   body {
//     margin: 0;
//     padding: 0;
//     background-color: #333;
//   }
// }
