.section {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: #663399;
  font-family: "Lato";
  font-size: 1rem;
  text-align: center;
  box-sizing: border-box;

  & ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    align-content: space-between;
  }

  & li {
    color: orange;
    flex-direction: row;
    flex: 1 1 auto;
    display: inline;

    & a:link,
    a:visited,
    a:active {
      color: orange;
      text-decoration: none;
    }

    a:hover {
      font-weight: bold;
    }
  }
}

@media only screen and (min-width: 768px) {
  .section ul {
    width: 768px;
  }
}
