.section {
  background: repeating-linear-gradient(
    45deg,
    orange,
    orange 1rem,
    #333 1rem,
    #333 2rem
  );
  display: flex;
  height: 90vh;
  color: #333;
  font-family: "Lato";
  font-size: 5rem;
  text-align: center;
  // text-shadow: 5px 5px 5px black;
}

.innerSection {
  position: absolute;
  display: flex;

  justify-content: center;
  align-items: center;
  top: 1rem;
  bottom: 12vh;
  right: 1rem;
  left: 1rem;
  background-color: orange;
}

// @media (prefers-color-scheme: dark) {
//   .section {
//     color: #fff;
//   }
// }
