.cross {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: linear;
  opacity: .66;
  position: absolute;

  &::before {
    background-color: #fff;
    content: "";
    height: 62px;
    min-width: 3px;
    position: absolute;
  }

  &::after {
    background-color: #fff;
    content: "";
    height: 62px;
    min-width: 3px;
    position: absolute;
    transform: rotate(90deg);
  }
}

.purple::before,
.purple::after {
  background-color: rgba(130, 41, 222, .66);
}

.blue::before,
.blue::after {
  background-color: rgba(32, 212, 246, .33);
}

@keyframes spin {
  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);
  }
}
