.square {
  animation-direction: alternate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: rotateSquare;
  animation-timing-function: ease-in-out;
  border: 3px solid rgba(255, 255, 255, .66);
  border-radius: 3px;
  position: absolute;
}

.purple {
  border: 3px solid rgba(130, 41, 222, .66);
}

.blue {
  border: 3px solid rgba(32, 212, 246, .33);
}

@keyframes rotateSquare {
  from {
    // opacity: 0;
  }

  to {
    transform: rotate(45deg);
    // opacity: 0;
  }
}
