.navigation {
  display: none;

  &--top {
    display: none;
  }
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  text-align: center;
  justify-content: center;

  li {
    flex: 1 1 auto;
    max-width: 10rem;
  }
}

.nav-link {
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 900;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.33);
  text-transform: uppercase;
}



@media only screen and (min-width: 768px) {
  .navigation {
    display: block;
    // background-color: rgba(0, 0, 0, 0.66);
    // background: linear-gradient(to bottom, #531DA4 0%, #57109e 100%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.33);
    // transition: ease-in .1s;
  
  
    // &--top {
    //   display: block;
    //   background-color: transparent;
    //   position: fixed;
    //   top: 0;
    //   width: 100%;
    //   z-index: 10;
    //   transition: ease-in .1s;
    // }
  }
}

@media only screen and (min-width: 1200px) {
}