.grid {
  &-container {
    display: grid;
    flex-direction: row;
    grid-template-areas:
      "header-frontend"
      "icon-frontend"
      "content-frontend"
      "header-ux"
      "icon-ux"
      "content-ux"
      "header-dad"
      "icon-dad"
      "content-dad";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    margin: 0 1rem 4rem;
    max-width: 75rem;
  }

  &-icon {
    &-ux {
      grid-area: icon-ux;
      margin: 0 0 1rem;
    }

    &-frontend {
      grid-area: icon-frontend;
      margin: 0 0 1rem;
    }

    &-dad {
      grid-area: icon-dad;
      margin: 0 0 1rem;
    }
  }

  &-header {
    &-ux {
      grid-area: header-ux;
    }

    &-frontend {
      grid-area: header-frontend;
    }

    &-dad {
      grid-area: header-dad;
    }
  }

  &-content {
    &-ux {
      grid-area: content-ux;
      margin-bottom: 2rem;
    }

    &-frontend {
      grid-area: content-frontend;
      margin-bottom: 2rem;
    }

    &-dad {
      grid-area: content-dad;
      margin-bottom: 2rem;
    }
  }

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      color: #fff;
      font-size: 1.5rem;
    }
  }
}

.box {
  flex: 1;
}

.hero-h1 {
  color: #fff;
  flex: 1;
  font-size: 6rem; //96px
  font-weight: 900;
  line-height: 5rem;
  margin: 0;
  padding: 0 1rem;
  text-shadow: 0 5px 10px rgba(0, 0, 0, .25);
  text-transform: uppercase;
}

.about {
  &-h1 {
    color: #fff;
    flex: 1;
    font-size: 4rem; //96px
    font-weight: 900;
    line-height: 3.5rem;
    margin: 6rem auto;
    padding: 0 1rem;
    position: relative;
    text-shadow: 0 5px 5px rgba(0, 0, 0, .25);
    text-transform: uppercase;
  }

  &-h2 {
    color: #70e9f2;
    flex: 1;
    font-size: 3rem; //48px
    margin: 0;
    margin-bottom: 1rem;
    padding: 0 1rem;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .25);
    text-transform: uppercase;
  }

  &-subtext {
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 6rem;
  }
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1200px;
  width: 100%;
}

.project {
  &-h1 {
    color: #fff;
    flex: 1;
    font-size: 4rem; //96px
    font-weight: 900;
    line-height: 3.5rem;
    margin: 6rem auto;
    padding: 0 1rem;
    position: relative;
    text-shadow: 0 5px 5px rgba(0, 0, 0, .25);
    text-transform: uppercase;
  }
}

.blog {
  &-h1 {
    color: #fff;
    flex: 1;
    font-size: 4rem; //96px
    font-weight: 900;
    line-height: 3.5rem;
    margin: 6rem auto;
    padding: 0 1rem;
    position: relative;
    text-shadow: 0 5px 5px rgba(0, 0, 0, .25);
    text-transform: uppercase;
  }
}

.footer-text {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .hero-h1 {
    font-size: 13rem;
    line-height: 10rem;

    .h2 {
      font-size: 6rem;
    }
  }

  .grid-container {
    display: grid;
    flex-direction: row;
    grid-template-areas:
      "header-frontend header-ux header-dad"
      "icon-frontend icon-ux icon-dad"
      "content-frontend  content-ux content-dad";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 0 1rem 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-h1 {
    font-size: 13rem;
    line-height: 10rem;
  }

  .h2 {
    font-size: 6rem;
  }
}
