.body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
  color: black;
  min-height: 30rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-main {
  background-color: brown;
}
