.projects-container {
  width: 600px;
  height: 300px;
  border-radius: 7px;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
}

.top {
  background-color: #454440;
  height: 3rem;
  border-radius: 7px 7px 0 0;
}

.bottom {
  flex: 1 1;
  border-radius: 0 0 7px 7px;
  background-color: #fff;
}