.projects-container {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-bottom: 6rem;
  width: 600px;
}

.top {
  background-color: #454440;
  border-radius: 7px 7px 0 0;
  height: 3rem;
}

.bottom {
  background-color: #fff;
  border-radius: 0 0 7px 7px;
  flex: 1 1;
}
