.section {
  align-items: center;
  background-color: antiquewhite;
  border: 5px solid red;
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0; 
  width: 100vw;

  &-hero {
    height: calc(100vh - 4rem);   
    border: 5px solid green;
  }
}
