.section-content {
  display: flex;
  flex-direction: column;
  // max-width: 1200px;
  z-index: 1;

  &-horizontal {
    flex-direction: row;
  }

  &-title {
    color: #fff;
    flex: 1;
    font-size: 6rem;
    font-weight: 900;
    line-height: 6rem;
    margin: 0;
    padding: 0;
    padding: 0 1rem;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;

    &--about {
      color: pink;
      font-size: 6rem;
      font-weight: 900;
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
      text-transform: uppercase;
    }
  }

  &-subtitle {
    color: #72ecf6;
    flex: 1;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-content {
    max-width: 1200px;
  }
}
